@import url("https://fonts.googleapis.com/css?family=Bree+Serif&display=swap");

* {
  outline: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bree Serif", serif;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: white;
  text-decoration: none;
}

.logo {
  width: 50px;
  height: 50px;
}

i {
  color: #023d35;
  line-height: 10px;
  margin-top: 10px;
  font-size: 14px;
}

.faixa {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  height: 250px;
  width: 100%;
  margin-bottom: -70px;
}

.faixa > div {
  height: 2px;
  width: 70px;
  background-color: #1d1e20;
}

h1 {
  margin-top: 60px;
  text-align: center;
  font-size: 46px;
  color: #027c6b;
}

h1::after {
  content: "";
  width: 250px;
  background: currentColor;
  height: 2px;
  display: block;
  margin: 0 auto;
  margin-bottom: 100px;
}

h5 {
  margin-top: 260px;
  text-align: center;
  font-size: 46px;
  color: #027c6b;
}

h5::after {
  content: "";
  width: 250px;
  background: currentColor;
  height: 2px;
  display: block;
  margin: 0 auto;
  margin-bottom: 100px;
}

h3 {
  margin-top: 250px;
  text-align: center;
  font-size: 46px;
  color: #027c6b;
}

h3::after {
  content: "";
  width: 250px;
  background: currentColor;
  height: 2px;
  display: block;
  margin: 0 auto;
  margin-bottom: 100px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #1d1e20;
  padding: 20px 50px;
}

.menu {
  display: flex;
}

.menu li {
  margin-left: 20px;
  font-size: 20px;
}

.menu li a {
  padding: 0 20px;
  display: block;
}

.menu li a::after {
  content: "";
  display: block;
  background: currentColor;
  width: 20px;
  height: 2px;
  transition: all 0.5s;
  margin: 2px auto;
}

.menu li a:hover::after {
  width: 100px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}

.flex > div {
  flex: 1 1 250px;
  margin: 20px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  padding: 30px;
  max-width: 900px;
  margin: -50px auto;
  margin-bottom: 200px;
}

.grid p {
  max-width: 900px;
  margin: 0 auto;
}

.grid h2 {
  padding: 10px;
  color: #023d35;
  text-align: center;
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  max-width: 40rem;
  margin: -50px auto;
  margin-bottom: 400px;
}
.grid3-item:nth-child(1) {
  grid-row: 1/2;
}

.grid3-item2 {
  height: 100px;
  width: 200px;
}

.grid3-item3 {
  height: 100px;
  width: 200px;
}

.footer {
  display: flex;
  height: 100px;
  width: 100%;
  font-size: 18px;
  justify-content: center;
  background-color: white;
}
