@import url("https://fonts.googleapis.com/css?family=Bree+Serif&display=swap");

* {
  outline: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bree Serif", serif;
  list-style: none;
}
