* {
  outline: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap");

html,
body,
#root {
  min-height: 100%;
}

body {
  background: url("./assets/Abstract-Envelope.svg");
  background-size: cover;
  -webkit-font-smoothing: antialiased !important;
}

body,
input,
button {
  font-family: "Baloo Bhai", Arial, Helvetica, sans-serif;
  font-size: 14px;
}
