a {
  color: white;
  text-decoration: none;
}

.logo {
  width: 50px;
  height: 50px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #1d1e20;
  padding: 20px 50px;
}

.menu {
  display: flex;
}

.menu li {
  margin-left: 20px;
  font-size: 20px;
}

.menu li a {
  padding: 0 20px;
  display: block;
}

.menu li a::after {
  content: "";
  display: block;
  background: currentColor;
  width: 20px;
  height: 2px;
  transition: all 0.5s;
  margin: 2px auto;
}

.menu li a:hover::after {
  width: 100px;
}

label,
#toggle {
  display: none;
}

@media (max-width: 540px) {
  .logo,
  .menu {
    display: none;
  }

  .menu li a {
    color: white;
    font-size: 14px;
    display: block;
  }

  .header {
    height: 90px;
  }

  label {
    transition: all 2s;
    display: block;
    color: white;
    margin: 0 auto;
    cursor: pointer;
    padding: 10px;
  }

  .menu li a:hover::after {
    width: 70px;
  }

  #toggle:checked + div > .menu {
    transition-delay: 2s;
    display: flex;
  }
}
