div .container {
  text-align: center;
  color: #fff;
}

img {
  margin-top: 80px;
  width: 100px;
  height: 100px;
}

h1,
h2,
h3 {
  line-height: 150px;
  font-size: 56px;
}

header {
  border-bottom: 1px solid #dddddd;
  height: 72px;
}

header .navbar .list {
  display: flex;
  justify-content: space-between;
}

header .navbar .list li {
  background-color: red;
  width: 20%;
  list-style-type: none;
  font-size: 24px;
  margin: 20px auto;
  font-weight: 600;
}
